<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace = "project.archive.notice.service.impl.NoticeMapper">

	<!-- 공지사항 목록 조회 -->
	<select id="selectNoticeList" resultType="egovMap">
	<![CDATA[
		SELECT NOTICE_ID
			   , NOTICE_TITLE
			   , NOTICE_CONTENTS
			   , NOTICE_YN
			   , NOTICE_HITS
			   , NOTICE_TOPFIX_YN
			   , REGISTER
			   , TO_CHAR(REGISTED_DATE, 'YYYY-MM-DD') AS REGISTED_DATE
		  FROM NOTICE
		 WHERE NOTICE_YN = 'Y'
		 ORDER BY NOTICE_ID DESC
	]]>
	</select>
	
	<!-- 공지사항 총 목록 건수 -->
	<select id="noticeListTotalCnt" resultType="int">
	<![CDATA[
		SELECT COUNT(*)
		  FROM NOTICE
		 WHERE NOTICE_YN = 'Y'
	]]>
	</select>
	
	<!-- 공지사항 등록 -->
	<insert id="writeNotice" parameterType="NoticeVO">
	<selectKey keyProperty="noticeId" resultType="int" order="BEFORE">
	<![CDATA[
		SELECT COALESCE(MAX(NOTICE_ID), 0) + 1 AS "noticeId"
		  FROM NOTICE
	]]>
	</selectKey>
   <![CDATA[
      INSERT INTO NOTICE (
            NOTICE_ID
          , NOTICE_TITLE
		  , NOTICE_CONTENTS
		  , NOTICE_YN
		  , NOTICE_HITS
		  , NOTICE_TOPFIX_YN
		  , REGISTER
      ) VALUES (
            #{noticeId}
          , #{noticeTitle}
          , #{noticeContents}
          , #{noticeYn}
          , 0
          , #{noticeTopfixYn}
          , #{register}
      )
   ]]>
   </insert>
	
	<!-- 공지사항 상세 조회 -->
	<select id="selectNoticeView" parameterType="int" resultType="NoticeVO">
	<![CDATA[
		SELECT NOTICE_ID
			   , NOTICE_TITLE		              AS "noticeTitle"
			   , NOTICE_CONTENTS                  AS "noticeContents"
			   , NOTICE_HITS                      AS "noticeHits"
			   , NOTICE_TOPFIX_YN 				  AS "noticeTopfixYn"
		 	   , NOTICE_YN						  AS "noticeYn"
			   , REGISTER                         AS "register"
			   , REGISTED_DATE                    AS "registedDate"
			   , MODIFIER                         AS "modifier"
			   , MODIFIED_DATE                    AS "modifiedDate"
		  FROM NOTICE
		 WHERE NOTICE_ID = #{noticeId}
		   AND NOTICE_YN = 'Y'
	]]>
	</select>
	
	<!-- 공지사항 수정 -->
	<update id="updateNotice" parameterType="NoticeVO">
	<![CDATA[
		UPDATE NOTICE
		   SET NOTICE_TITLE = #{noticeTitle}
		   	   , NOTICE_CONTENTS = #{noticeContents}
		   	   , NOTICE_YN = #{noticeYn}
		   	   , NOTICE_TOPFIX_YN = #{noticeTopfixYn}
		   	   , MODIFIER = #{modifier}
		   	   , MODIFIED_DATE = now()
		 WHERE NOTICE_ID = #{noticeId}
		   AND NOTICE_YN = 'Y'
		   
	]]>
	</update>
	
	<!-- 공지사항 삭제(소프트삭제) -->
	<update id="deleteNotice">
	<![CDATA[
		UPDATE NOTICE
		   SET NOTICE_YN = 'N'
		 WHERE NOTICE_ID = #{noticeId}
			   
	]]>
	</update>
	
	<!-- 조회수 증가 -->
	<update id="hitsPlusCnt">
	<![CDATA[
		UPDATE NOTICE
		   SET NOTICE_HITS = NOTICE_HITS + 1
		 WHERE NOTICE_ID = #{noticeId}
		   AND NOTICE_YN = 'Y'
	]]>
	</update>
</mapper>