<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace = "project.archive.notice.service.impl.NoticeMapper">

	<!-- 공지사항 목록 조회 -->
	<select id="selectNoticeList" resultType="egovMap">
	<![CDATA[
		SELECT NOTICE_ID
			   , NOTICE_TITLE
			   , NOTICE_CONTENTS
			   , NOTICE_YN
			   , NOTICE_HITS
			   , NOTICE_TOPFIX_YN
			   , REGISTER
			   , REGISTED_DATE 
		  FROM NOTICE
	]]>
	</select>
	
	<!-- 공지사항 총 목록 건수 -->
	<select id="noticeListTotalCnt" resultType="int">
	<![CDATA[
		SELECT COUNT(*)
		  FROM NOTICE
	]]>
	</select>

</mapper>